<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>RiffMates</title>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
{#    <script src="https://unpkg.com/htmx.org@2.0.3"></script>#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'node_modules/@kanety/stimulus-dialog/dist/index.css' %}" rel="stylesheet" type="text/css">
    <script type="importmap">
        {
            "imports": {
                "@hotwired/stimulus": "{% static 'node_modules/@hotwired/stimulus/dist/stimulus.js' %}",
                "@kanety/stimulus-dialog": "{% static 'node_modules/@kanety/stimulus-dialog/dist/index.modern.mjs' %}",
                "@kanety/stimulus-static-actions": "{% static 'node_modules/@kanety/stimulus-static-actions/dist/index.modern.mjs' %}",
                "htmx.org": "https://unpkg.com/htmx.org@2.0.3"
            }
        }
    </script>
    <script type="module">
        import {Application} from "@hotwired/stimulus";
        import DialogController from "@kanety/stimulus-dialog";

        const application = Application.start();

        application.register('dialog', DialogController);
    </script>
</head>
<body>
<div class="section">
    <header class="container">
        <h1 class="title">Riff Mates</h1>
    </header>
    <div>
        <main>
            {% block title %}
            {% endblock title %}
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <nav>
                <ul role="list">
                    {% if user.is_authenticated %}
                        <li>hello, <a
                                href="{% url 'edit_musician' user.userprofile.musician_profiles.first.id %}">{{ user.username }}</a>!
                            <form action="{% url 'logout' %}" method="post" style="display: inline">
                                {% csrf_token %}
                                <input type="submit" value="Logout" class="button">
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'musicians' %}">Musicians</a></li>
                    <li><a href="{% url 'bands' %}">Bands</a></li>
                    <li><a href="{% url 'venues' %}">Venues</a></li>
                    <li><a href="{% url 'list_ads' %}">Classified Ads</a></li>
                    <li><a href="{% url 'comment' %}">Leave a comment</a></li>
                    <li><a href="{% url 'productivity' %}">Productivity</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                </ul>
            </nav>
        </footer>
    </div>
</div>
</body>
</html>
