<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>RiffMates</title>

  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">

</head>
  <body>
    <main>
      {% block title %}
      {% endblock title %}
      {% block content %}
      {% endblock content %}
    </main>



    <footer>
      <p><a href="/">Missing.css</a>, by <a href="https://denizaksimsek.com">Deniz Akşimşek</a>,
      </p>
    </footer>



  </body></html>
