{% extends "base.html" %}

{% block title %}
    {{ block.super }}: {{ title }}
{% endblock %}

{% block content %}
    <h2 class="subtitle">Hope you have a productive day!</h2>

    <div class="grid">
        <div class="cell">

            <ul>
                {% for feeling_report in feeling_reports %}
                    <li>
                        {% if feeling_report.description %}
                            <strong>{{ feeling_report.feeling }}</strong>: {{ feeling_report.description }}
                        {% else %}
                            <strong>{{ feeling_report.feeling }}</strong>: <em>(empty)</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="cell">
            {% for todo in todos %}
                <p>{{ todo.content }}</p>
            {% endfor %}
        </div>
        <div class="cell">
            {% for note in notes %}
                <p>{{ note.content }}</p>
            {% endfor %}
            <div class="modal" data-dialog-target="dialog" id="myModal" data-controller="modal">
                <div class="modal-background" data-action="click->modal#close"></div>
                <div class="modal-content">
                    <div class="content">
                        <h2>Title</h2>
                        <form method="post" action="{% url 'edit_journal_note' 0 %}">
                            {% csrf_token %}
                            <label for="content">Content</label>
                            <textarea class="textarea" name="content" id="content" cols="30" rows="10"></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <button type="button" data-action="modal#close" class="modal-close is-large"
                        aria-label="close"></button>
            </div>
            <button type="button" data-controller="modal" data-action="modal#open" class="button" data-target="myModal">
                Open
            </button>
        </div>
    </div>
    <dialog>
        <form method="post" hx-boost="true" action="{% url 'edit_feeling_report' 0 %}">
            {% csrf_token %}
            <fieldset name="feeling_report">
                {{ report_form }}
            </fieldset>
            <strong>
                <button type="submit">Submit</button>
            </strong>
        </form>
    </dialog>
    <dialog>
        <form method="post" hx-boost="true" action="{% url 'edit_journal_todo' 0 %}">
            {% csrf_token %}
            <fieldset name="feeling_report">
                {{ todo_form }}
            </fieldset>
            <strong>
                <button type="submit">Submit</button>
            </strong>
        </form>
    </dialog>
    <dialog>
        <form method="post" hx-boost="true" action="{% url 'edit_journal_note' 0 %}">
            {% csrf_token %}
            <fieldset name="feeling_report">
                {{ note_form }}
            </fieldset>
            <strong>
                <button type="submit">Submit</button>
            </strong>
        </form>
    </dialog>
{% endblock content %}